<div class="card shadow overflow-hidden border-0 mb-4">
  <div class="card-body">
    <div class="row">
      <div class="col-2"><%= l(message.created_at, format: :short) %></div>
      <div class="col-3"><%= message.user.email %></div>
      <div class="col-7"><%= message.body %></div>
    </div>
  </div>
</div>
