<%= form_with(model: private_message, url: user_private_messages_path(user), method: 'post', data: { controller: "chat_refresh", action: "turbo:submit-end->chat_refresh#clearInput" }) do |form| %>
  <div class="mb-3">
    <%= form.hidden_field :recipient_id, value: user.id %>
    <%= form.text_field :body, autofocus: true, required: true, placeholder: "Your text", class: "form-control" %>
  </div>
  <%= form.submit 'Send', class: "btn btn-primary" %>
<% end %>