<%= turbo_stream_from :private_messages %>

<h1>История сообщений с <%= @user.email %></h1>

<div class="d-flex flex-column h-100 justify-content-between">
  <div class="my-2 overflow-x-auto mx-sm-6 mx-lg-8" id="chat-container">
    <div class="py-2 align-middle inline-block w-100 px-sm-6 px-lg-8">
      <%= turbo_frame_tag :private_messages do %>
        <div id="messages-container">
          <%= render partial: 'private_messages/private_message', collection: @private_messages %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'form', locals: { user: @user, private_message: @private_message } %>
