<%= turbo_stream_from :chats %>

<div id="chats" class="container">
  <%= render @chats %>
</div>

<% if current_user.present? %>
  <%= form_with model: @new_chat do |f| %>
    <%= f.submit "Create chat", class: "btn btn-primary mt-3" %>
  <% end %>
<% end %>
