<%= turbo_stream_from @chat %>
<%= turbo_stream_from [current_user, @chat] %>

<div class="d-flex flex-column h-100 justify-content-between">
  <div class="my-2 overflow-x-auto mx-sm-6 mx-lg-8" id="chat-container">
    <div class="py-2 align-middle inline-block w-100 px-sm-6 px-lg-8" id="chat_<%= @chat.id %>_messages">
      <%= turbo_frame_tag :messages do %>
        <%= render @messages %>
      <% end %>
    </div>
  </div>
</div>

<%= form_with model: @new_message, data: { controller: "chat_refresh", action: "turbo:submit-end->chat_refresh#clearInput" } do |f| %>
  <div class="mb-3">
    <%= f.text_area :body, autofocus: true, required: true, placeholder: "Your text", class: "form-control" %>
  </div>
  <%= f.hidden_field :chat_id, value: @chat.id %>
  <%= f.submit 'Send', class: "btn btn-primary" %>
<% end %>
