<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="card mt-4">
        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="mb-3">
              <%= f.label :email, class: "form-label" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true, class: "form-control", placeholder: "Email address" %>
            </div>
            <div class="mb-3">
              <%= f.label :password, class: "form-label" %>
              <%= f.password_field :password, autocomplete: "current-password", required: true, class: "form-control", placeholder: "Password" %>
            </div>
            <div class="mb-3">
              <%= f.submit "Sign in", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
